body {
  background-color: #e6f0c5; /* Cambia este color según tus preferencias */
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh; /* Asegura que el cuerpo llene al menos el alto de la ventana */
  display: flex;
  flex-direction: column;
}